

* {

  font-family: franklin-gothic-urw, sans-serif;

  font-weight: 300;

  font-style: normal;

}

h1,h2 {
  text-transform:uppercase;
}

h1 {


  font-family: paralucent, sans-serif;

  font-weight: 700;

  font-style: italic;

}

h2,h3,h4 {
  font-family: paralucent, sans-serif;

  font-weight: 700;
  font-style: normal;
}

p, a, button, input {


  font-family: franklin-gothic-urw, sans-serif;

  font-weight: 300;

  font-style: normal;

}