
/*
  Default colors (light theme)
 */

$background:#fafafa;
$defaultText-light:rgba(0,0,0,0.7);




/*
  Default colors (dark theme)
 */

$background-dark:rgba(0,0,0,0.5);
$defaultText-dark:rgba(255,255,255,0.8);


/*
  General attributes like rounded corners, default font size, etc.
 */

$blueBackground: rgb(97, 93, 250, 1);
$body-font-family: 'franklin-gothic-urw';
$color: #222;
$body-font-size: 16px;
$paragraph-font-size: $body-font-size;
$h1-font-size: $body-font-size * 4;
$h2-font-size: ($body-font-size * 2.5);
$h3-font-size: ($body-font-size * 2);
$h4-font-size: ($body-font-size * 1.5);


/*
  cards specific styling (light)
 */

$card-bg-color-light:rgba(255,255,255,0.5);


/*
  cards specific styling (dark)
 */


$card-bg-color-dark:rgba(0,0,0,0.3);