@use 'fonts';
@use '../fa/scss/fontawesome';
@import 'variables';

* {
  font-family: $body-font-family, sans-serif;
  word-break: break-word !important;
  overflow-wrap: break-word !important;

}

body {
  font-size: $body-font-size;
  color: #2a2e3b;
  background:#eff1f2;
  word-break: normal !important;
}

.theme--light.v-application {
  background:#eff1f2;
}

p, .v-application .subtitle-2 {
  font-size: $paragraph-font-size;
}

h1 {
  font-size: $h1-font-size;
}

.theme--light.v-card, .v-card:not(.v-sheet--tile):not(.v-card--shaped) {
  background: rgba(255,255,255,0.8);
  border-radius:20px;
  border:none;
}


.v-card {
  border-radius:20px;
  background:transparent;
  border: none;
}

/*

Profile page css

 */

.profile-left-icn {
  width:30px;
  height:auto;
  overflow:hidden;
  display:block;
  float:left;
  margin-left:25px;
}

.menu-bar-blue {
  background: $blueBackground !important;
  color: rgba(255,255,255,0.9) !important;
}