<template>
    <div id="demo-modal">



        <DokaModal
                crop-aspect-ratio="1"
                :src="src"
                v-if="isEnabled"
                @confirm="handleDokaConfirm"
                @cancel="handleDokaCancel"
                />

        <img v-if="result" :src="result" alt="" />

    </div>
</template>

<script>
    /* eslint-disable */
    import { DokaModal, toURL } from '../../vue-doka/';

    export default {
        name: 'uplaoder-modal',
        components: { DokaModal },
        props: {
          isEnabled: Boolean,

          src: String
        },
        data () {
            return {

                result: null
            }
        },
        methods: {
            handleDokaConfirm(output) {
                console.log('Confirm crop!', output);
                this.result = toURL(output.file);
            },
            handleDokaCancel() {
                console.log('Cancel crop!');
            }
        }
    }
</script>