<template>
    <div id="imageUploader">
        <file-pond
                :allow-multiple="multiple"
                :instant-upload="instant"
                :name="fieldName"
                :server="UploadAPI"
                accepted-file-types="image/jpeg, image/png"
                imageCropAspectRatio="1:1"
                imageEditInstantEdit="true"
                label-idle="Drop your image here or click to select a file from your computer"
                ref="pond"
                v-bind:files="myFiles"
                v-bind:imageEditEditor="myDokaAvatar"
                v-on:init="handleFilePondInit"
        />
    </div>
</template>

<script>


    import { create } from '../../vue-doka/lib/doka.esm.min';
    import '../../vue-doka/lib/doka.min.css';

    // Import Vue FilePond
    import vueFilePond from 'vue-filepond';

    // Import FilePond styles
    import 'filepond/dist/filepond.min.css';

    // Import plugin styles
    import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';
    import 'filepond-plugin-image-edit/dist/filepond-plugin-image-edit.min.css';

    // Import plugins
    import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type';
    import FilePondPluginImageExifOrientation from 'filepond-plugin-image-exif-orientation';
    import FilePondPluginImagePreview from 'filepond-plugin-image-preview';
    import FilePondPluginImageEdit from 'filepond-plugin-image-edit';
    import FilePondPluginImageCrop from 'filepond-plugin-image-crop';
    import FilePondPluginImageResize from 'filepond-plugin-image-resize';
    import FilePondPluginImageTransform from 'filepond-plugin-image-transform';

    // Create component
    const FilePond = vueFilePond(
        FilePondPluginFileValidateType,
        FilePondPluginImageExifOrientation,
        FilePondPluginImageCrop,
        FilePondPluginImageResize,
        FilePondPluginImagePreview,
        FilePondPluginImageEdit,
        FilePondPluginImageTransform
    );

    export default {
        name: "image-uploader",
        props: {
          profileID: String,
            multiple: Boolean,
            instant: Boolean,
            fieldName: String,
            serverURL: String,
            instantEdit: Boolean,
            label: String,
            refName: String,
            isAvatar: Boolean,
            isHeader: Boolean,
            isPost: Boolean,
            isHero: Boolean

        },
        data() {
            return {
                UploadAPI: {
                    url: "/api/v1/images/upload",
                    process: {
                        onload: res => {
                            if(this.isAvatar) {
                                this.$store.dispatch("setAvatarImage", res);
                                return res;
                            }
                        }
                    }
                },
                myFiles: [],
                myDokaAvatar: create({
                    cropAspectRatioOptions: [
                        {
                            label: "Square",
                            value: 1
                        }
                    ]
                }),

            }
        },
        methods: {
            handleFilePondInit: function() {
                // FilePond instance methods are available on `this.$refs.pond`
                this.$refs.pond.getFiles();
            }
        },
        components: {
            FilePond
        }
    }
</script>