<template>


    <v-container fluid class="postbox-container">

       <v-row no-gutters>
           <v-col cols="1" class="hidden-md-and-down">
               <v-avatar size="50" >
                   <img :src="avatar" width="100%" height="50" alt=""/>
               </v-avatar>
           </v-col><v-spacer></v-spacer>
           <v-col cols="12" lg="11" xl="11" >
               <v-textarea  ref="postbox" v-model="content" :placeholder="placeHolder" auto-grow autofocus
                            single-line outlined rounded :row-height="1" background-color="white" v-on:focusin="showToolbar = true"   hide-details append-icon="fal fa-paper-plane">
               </v-textarea>

           </v-col>

       </v-row>
        <v-row no-gutters class="hidden-md-and-down">
            <v-spacer></v-spacer>
            <v-col cols="11">
                <postbox-toolbar v-show="showToolbar"></postbox-toolbar>
            </v-col>
        </v-row>
        <v-divider class="hidden-md-and-down"></v-divider>


    </v-container>




</template>

<script>

    import Toolbar from "./Toolbar";

    export default {
        name: "postbox-main",
        props: {
          avatar: {type: String, default: "/img/nopicture.png"},
          username: {type: String, default: ""},
          userid: String,
          profileid: String
        },
        data() {
            return {
                content:"",
                showToolbar: true,
                placeHolder: `hi! ${this.username} let's share something ... (press enter to send)`
            }
        },
        methods: {

        },
        components: {
            "postbox-toolbar":Toolbar
        }
    }

</script>

<style scoped>

    .postbox-container  {

        border-radius:50px;

    }

    </style>