<template>

    <v-toolbar flat dense elevation="0" color="transparent" class="mt-0 pt-0" height="50" v-show="!mobile">
        <v-btn rounded small elevation="0"><span class="float-left"><v-icon small>fal fa-photo-video</v-icon></span><span class="float-left pl-2">Photo / Video</span></v-btn>
        <v-btn rounded class="ml-2" small elevation="0"><span class="float-left"><v-icon small>far fa-signal-stream</v-icon></span><span class="float-left pl-2">LIVE</span></v-btn>
        <v-btn rounded class="ml-2" small elevation="0"><span class="float-left"><v-icon small>fal fa-palette</v-icon></span><span class="float-left pl-2">COLORS</span></v-btn>

        <v-btn rounded class="ml-2" small elevation="0"><span class="float-left"><v-icon small>fal fa-globe</v-icon></span><span class="float-left pl-2">SHARE WITH</span></v-btn>
        <v-btn rounded class="ml-2" small elevation="0" right><span class="float-left"><v-icon small>fal fa-share</v-icon></span><span class="float-left pl-2">SEND NOW</span></v-btn>
        <v-btn rounded class="ml-2" small elevation="0" right><span class="float-left"><v-icon small>fal fa-ellipsis-h</v-icon></span><span class="float-left pl-2">SEND LATER</span></v-btn>
    </v-toolbar>

</template>

<script>
    export default {
        name: "postbox-toolbar",
        props: {
            mobile: {type:Boolean, default:false}
        }
    }
</script>