<template>

    <v-container>


        <v-row align="center" justify="center" class="mt-10">
            <v-col cols="12" lg="8" xl="8" class="ml-auto mr-auto">
                <v-card elevation="0" class="pa-5">
                    <v-card-text>
                <v-form>
                    <v-row >
                        <v-col cols="12" lg="8" xl="8" >

                            <h2>
                                Profile Setup
                            </h2>
                            <p>
                                Welcome and thank you for joining Swaggit! It is now time to setup your profile.<br/>
                                <strong class="font-weight-bold">Note: Swaggit is privacy first! No data will be shared without you making them public.
                                   </strong>
                                <v-checkbox label=" Skip Profile Setup. I will do this later." v-model="skip"></v-checkbox>
                            </p>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <v-checkbox label=" Please, add company / corporate fields to my profile. (you can do this later)" v-model="corporate_profile"></v-checkbox>
                            <v-checkbox label=" Will you post / advertise NSFW / Explicit content? (adds NSFW agreement)" v-model="nsfw_profile"></v-checkbox>

                        </v-col>
                        <v-col cols="6">

                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="6">
                            <v-text-field label="First Name" v-model="formData.firstname" ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-checkbox label="show on profile" v-model="formData.fnPublic" @click="setPublicScopes('firstname')"></v-checkbox>
                        </v-col>
                    </v-row>
                    <v-row>
                    <v-col cols="6">
                        <v-text-field label="Last Name" v-model="formData.lastname" ></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-checkbox label="show on profile" v-model="formData.lnPublic" @click="setPublicScopes('lastname')"></v-checkbox>
                    </v-col>
                </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-text-field label="Your public display name" v-model="formData.displayName" ></v-text-field>
                        </v-col>

                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-select label="Gender" :items="formData.genders" v-model="formData.gender"></v-select>
                        </v-col>
                        <v-col cols="6">
                            <v-checkbox label="show on profile" v-model="formData.genderPublic" @click="setPublicScopes('gender')"></v-checkbox>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-menu
                                    ref="menu"
                                    v-model="menu"
                                    :close-on-content-click="false"
                                    :return-value.sync="formData.birthday"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                            v-model="formData.birthday"
                                            label="your birthday * year is always private"
                                            readonly
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="date" no-title scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                                    <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                                </v-date-picker>
                            </v-menu>                        </v-col>
                        <v-col cols="6">
                            <v-checkbox label="display my age publicly / notify of my birthday" v-model="formData.bdayPublic" @click="setPublicScopes('birthday')"></v-checkbox>

                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-textarea label="description - about you" outlined v-model="formData.bio" />
                        </v-col>
                        <v-col cols="6">
                            <v-checkbox label="show on profile" v-model="formData.bioPublic" @click="setPublicScopes('bio')"></v-checkbox>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <Countries />
                        </v-col>
                        <v-col cols="6">
                            <v-checkbox label="show on profile" v-model="formData.countryPublic" @click="setPublicScopes('country')"></v-checkbox>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="6">
                            <p>we recommend to upload a JPEG or PNG file that is at least 256px width by 256px height (256x256) or larger in square format for best results.</p>
                            <v-file-input label="upload your profile image" v-model="imagesData.avatar"></v-file-input>
                        </v-col>

                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <p>we recommend to upload a JPEG or PNG file that is at least 1980px width by 400px height (1980x400) or larger in horizontal (landscape) format for best results.</p>
                            <v-file-input label="upload your background image (profile)" v-model="imagesData.headerBG"></v-file-input>
                        </v-col>

                    </v-row>
                    <div v-show="corporate_profile">
                    <v-row>
                        <v-col cols="12">
                            <h3>Extra section: Corporate / Company Profile</h3>
                            <p>as you requested us to add extra company fields to your profile setup, you can find them below:</p>

                        </v-col>

                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <v-select label="please select the type of company (required)" :items="company_types" v-model="corporateFields.company_type"></v-select>
                        </v-col>

                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-text-field label="Company Name (required)" v-model="corporateFields.company_name" ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-checkbox label="show on profile" v-model="formData.companyNamePublic" @click="setPublicScopes('company_name')"></v-checkbox>
                        </v-col>
                    </v-row>
                    <v-row v-show="show_legalname_field">
                        <v-col cols="6">
                            <v-text-field label="Company Legal Name (ie.: Swaggit, Inc.)" v-model="corporateFields.company_legal_name" ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-checkbox label="show on profile" v-model="formData.companyNamePublic" ></v-checkbox>
                        </v-col>
                    </v-row>
                     <v-row>  <v-col cols="6">
                            <p>we recommend to upload a JPEG or PNG file that is at least 256px width by 256px height (256x256) or larger in square format for best results.</p>
                            <v-file-input label="upload your company logo" v-model="corporateFields.logo"></v-file-input>
                        </v-col>
                        <v-col cols="6">
                            <v-checkbox label="show on profile" v-model="corporateFields.logoPublic" @click="setPublicScopes('company_logo')"></v-checkbox>
                        </v-col>
                     </v-row>
                        <v-row>
                        <v-col cols="6">
                            <v-text-field label="Your position / title within the company (required)" v-model="corporateFields.title" ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-checkbox label="show on profile" v-model="formData.titlePublic" @click="setPublicScopes('company_title')"></v-checkbox>
                        </v-col>
                    </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-textarea label="description - about your company" outlined v-model="corporateFields.company_description" />
                            </v-col>
                            <v-col cols="6">
                                <v-checkbox label="show on profile" v-model="corporateFields.companyDescPublic" @click="setPublicScopes('company_description')"></v-checkbox>
                            </v-col>
                        </v-row>
                    </div>

                    <div v-show="nsfw_profile">
                        <v-row>
                            <v-col cols="12">
                                <h3>Extra section: NSFW / Mature content / Disclaimer / Agreement</h3>
                                <p>In order to be able to post or advertise this type of content on our network, you will need to read and agree to the following:  </p>
                                <ul>
                                    <li> I agree that I will not be posting or sharing any adult or sexually suggestive content which involves minors in any context. A minor is anyone under the age of 18. </li>
                                    <li>I agree that I will only share or post content with the consent of all participating individuals.</li>
                                    <li>I acknowledge and agree that Swaggit (TM) filters out this type of content by default so that other users can choose whether or not to view this content. Any attempt to circumvent these filters will result in immediate account suspension. </li>
                                </ul>
                                <v-checkbox label="I have read and acknowledged the terms and conditions set above for posting adult content" v-model="nsfw_rules_agree"></v-checkbox>

                            </v-col>

                        </v-row>
                    </div>

                </v-form></v-card-text>

                    <v-card-actions>
                        <v-row>
                            <v-col cols="6" class="text-right">
                                <v-btn color="warning" large @click="updateProfile()">SAVE AND GO TO MY PROFILE</v-btn>
                            </v-col>
                        </v-row>
                    </v-card-actions>

                </v-card>
            </v-col>
        </v-row>

    </v-container>



</template>

<script>

    import {mapGetters} from "vuex";
    import Countries from "../Forms/Countries";

    export default {
        name: "setup-profile",
        computed: {
          ...mapGetters({
              getUserID: 'getUserID'
          })
        },
        data() {
            return {
                user_id: this.getUserID,
                corporate_profile:false,
                nsfw_profile: false,
                corporateFields: {
                    company_name: "",
                    companyNamePublic: false,
                    company_type: "",
                    title: "",
                    logo: null,
                    logoPublic:false,
                    company_website: "",
                    company_phone: "",
                    company_email: "",
                    company_description: "",
                    company_legal_name: "",
                    want_page: false,
                    companyDescPublic:false
                },
                formData: {
                    firstname: "",
                    fnPublic: false,

                    lastname: "",
                    displayName: "",
                    lnPublic: false,
                    birthday: "",
                    bdayPublic: false,
                    gender: "",
                    genderPublic:false,
                    genders: [
                        {
                            text: "Male",
                            value: "m"
                        },
                        {
                            text: "Female",
                            value: "f"
                        },
                        {
                            text: "Non-Binary",
                            value: "nb"
                        }
                    ],
                    country: "",
                    countryPublic: false,
                    countries: [],
                    city: "",
                    postalcode: "",
                    state: "",
                    bio: "",
                    bioPublic: false,
                    locale: "en",
                    titlePublic:false

                },
                imagesData: {
                    avatar: null,
                    avatarPublic: true,
                    headerBG: null
                },
                skip: false,
                company_types: [
                    'Publicly Traded Corporation',
                    'Private Corporation',
                    'S Corporation',
                    'Limited Liability Company (LLC)',
                    'Sole Proprietorship',
                    'Non-Profit / Charity',
                    'Self-Employed',
                    'Partnership',
                    'Cooperative'
                ],
                show_legalname_field: false,
                nsfw_rules_agree: false,
                scopes: []
            }


        },
        methods: {
            updateProfile() {

                const data = {
                    first_name:this.formData.firstname,
                    last_name:this.formData.lastname,
                    displayName: this.formData.displayName,
                    gender: this.formData.gender,
                    birthDay: this.formData.birthday,
                    description: this.formData.bio,
                    country: this.formData.country,
                    avatar: this.imagesData.avatar,
                    headerBG: this.imagesData.headerBG,
                    company: this.corporate_profile,
                    company_name: this.corporateFields.company_name,
                    company_title: this.corporateFields.title,
                    company_logo: this.corporateFields.logo,
                    company_description: this.corporateFields.company_description,
                    company_type: this.corporateFields.company_type,
                    nsfw: this.nsfw_profile,
                    publicScopes: this.scopes,
                    profileID: this.$store.getters.getCurrentUserProfile._id
                };

                this.$store.dispatch("profileSetup", data);


            },
            setPublicScopes(scopeName) {
                this.scopes.push(scopeName);
            }

        },
        components: {
            Countries
        }
    }
</script>