<template>

<v-container>
    <v-row align="center" >

        <v-col cols="12" xl="7" lg="7" md="2" class="text-center">
            <v-row >
                <v-col cols="12">
                    <v-img :src="imageLeft" width="70%" class="ml-auto mr-auto"></v-img>
                </v-col>
            </v-row>
         <v-row>
             <v-col>
                <p>
                    Welcome to our family!<br/>

                </p>

             </v-col>
         </v-row>


        </v-col>
        <v-col cols="12" xl="5" lg="5" md="10" sm="12" xs="12">
            <v-row>
                <v-stepper v-model="homelogin" vertical>

                    <v-stepper-step step="1">
                       {{$t('messages.homepage.new_account')}}
                    </v-stepper-step>

                    <v-stepper-content step="1">
                        <Registration></Registration>
                        <v-btn  @click="homelogin = 2">{{$t('messages.homepage.already_have_account')}}</v-btn>
                    </v-stepper-content>
                    <v-stepper-step step="2">
                       {{$t('messages.homepage.login_text')}}
                    </v-stepper-step>
                    <v-stepper-content step="2">

                        <Login></Login>
                        <v-btn  @click="homelogin = 1">don't have an account yet? register here</v-btn>
                        <v-btn  @click="forgotPassword = true">forgot your password? click here for help</v-btn>
                    </v-stepper-content>
                </v-stepper>

            </v-row>
        </v-col>
        <error-component :error-message="checkIfError()" :error-title="errorTitle" :show="showMsg" :closable="true" />

    </v-row>
</v-container>



</template>

<script>

    import Registration from "../../components/Auth/Registration";
    import Login from "../../components/Auth/Login";
    import ErrorComponent from "../../components/ErrorPlugin/errors";
    import {mapGetters} from "vuex";
    import ImageFamilius from "../../assets/logo.png";

    export default {
        name: "home",
        computed: {
            ...mapGetters({
                errorMsg: "getError"
            })
        },
        beforeMount() {
            this.$store.dispatch('resetAll');
            this.$store.dispatch('resetAuth');
        },
        data() {
            return {
                homelogin: 1,
                forgotPassword: false,
                errorTitle: "",
                errorMsg: this.checkIfError(),
                showMsg: false,
                imageLeft: ImageFamilius
            }
        },
        components: {
            Registration,
            Login,
            ErrorComponent
        },
        methods: {
            checkIfError() {
                if(this.$store.getters.getError !== null) {
                    this.showMsg = true;
                    return this.$store.getters.getError;
                } else {
                    return null;
                }
            }
        }

    }
</script>