<template>

    <v-dialog v-model="show" max-width="800" min-width="300" width="100%">

        <v-card elevation="1" color="error" tile>

            <v-card-title>{{errorTitle}}</v-card-title>
            <v-card-text>
                <v-alert type="error">
                    {{errorMessage}}
                </v-alert>
            </v-card-text>

            <v-card-actions v-show="closable">
               <v-row>
                   <v-col class="text-right">
                       <v-btn large tile @click="show = false">X CLOSE</v-btn>
                   </v-col>
               </v-row>
            </v-card-actions>

        </v-card>


    </v-dialog>

</template>

<script>
    export default {
        name: "errors",
        props: {
        errorMessage: String,
          errorTitle: String,
          closable: Boolean,
            show: Boolean
        },
        data() {
            return {
                errorMsg: this.props.errorMessage
            }
        },
        methods: {
            closeError() {
                this.show = false;
                this.errorMessage = "";
                this.$store.dispatch('setNewError', null);
            }
        }
    }

</script>