<template>
    <v-container class="fill-height">

        <v-col cols="12"><h1>admin dashboard</h1></v-col>




    </v-container>
</template>

<script>
    export default {
        name: "adminmain",
        data() {
            return {

            }
        }
    }
</script>