<template>
    <v-app-bar

            dense
            dark
            app
            clipped-right
    >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"><img src="/img/icons/favicon-32x32.png" alt="swaggit" /></v-app-bar-nav-icon>

        <v-toolbar-title><h3>SWAGGIT</h3></v-toolbar-title>
        <v-spacer></v-spacer>


        <v-text-field outlined dark  class="mt-6" dense append-icon="mdi-magnify"  label="search everything..." full-width></v-text-field>
        <v-spacer></v-spacer>
        <v-btn icon>
            <v-badge color="red" content="3" overlap>
                <v-icon>mdi-bell</v-icon>
            </v-badge>

        </v-btn>
        <v-btn icon>
            <v-badge color="red" content="23" overlap>
            <v-icon>mdi-message</v-icon>
            </v-badge>
        </v-btn>
        <v-btn icon>
            <v-icon>mdi-account-plus</v-icon>
        </v-btn>
        <v-btn icon>
            <v-icon>mdi-at</v-icon>
        </v-btn>
        <v-btn icon>

            <v-icon>mdi-trophy</v-icon>

        </v-btn>

        <v-btn icon @click="logout()">

            <v-icon>mdi-logout</v-icon>

        </v-btn>
        <v-app-bar-nav-icon @click.stop="drawerRight = !drawerRight" />

    </v-app-bar>
</template>

<script>
    export default {
        name: "navbar",
        props: {
          drawer: {type:Boolean, default:true},
          drawerRight: {type:Boolean, default:false}
        },
        methods: {
            logout() {
                this.$store.dispatch("logout");
            }
        }
    }
</script>