<template>
<div>
    <v-navigation-drawer
    v-model="drawer"
app



    >
        <v-list
                dense
                nav
                class="py-0"
        >

            <v-list-item  class="px-0 text-center" @click.stop="left = !left">
                <v-row>
                    <v-col>
                        <v-list-item-avatar width="150" height="150">
                            <img :src="avatar" width="150" height="150" alt="" />
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-badge :color="visBadgeColor" content="online"  dot bottom offset-y="20" offset-x="20" > <v-list-item-title class="dashboard-name">{{profileData.first_name}} {{profileData.given_name}}, {{profileData.country}}</v-list-item-title></v-badge>
                            <v-list-item-subtitle>@{{profileData.display_name}}</v-list-item-subtitle>
                            <v-list-item-subtitle class="dashboard-company-info mb-2 mt-2"> {{profileData.title}}, {{profileData.company}}</v-list-item-subtitle>
                            <v-list-item-subtitle> {{profileData.bio}}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-col>
                </v-row>

            </v-list-item>

            <v-divider></v-divider>
            <v-list-item two-line class="px-0">

                <v-list-item-content>
                    <v-list-item-title>Your Online Status</v-list-item-title>
                    <v-select v-model="visibility" :items="visStatuses"  outlined item-color="dark-grey"></v-select>

                </v-list-item-content>

            </v-list-item>
            <v-divider></v-divider>
            <v-list-item two-line class="px-0">

                <v-list-item-content>
                <v-list-item-title>Followers: {{followers}}</v-list-item-title>
            </v-list-item-content>
                <v-list-item-content>
                    <v-list-item-title>Following: {{following}}</v-list-item-title>
                </v-list-item-content>
                <v-list-item-content>
                    <v-list-item-title>Posts: {{postNum}}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list-group class="top-level-left"
            no-action v-for="item in sidebarItems"
            :key="item.title" v-model="item.active" :prepend-icon="item.icon">


                <template v-slot:activator>
                    <v-list-item-content>
                        <v-list-item-title v-text="item.title"></v-list-item-title>
                    </v-list-item-content>
                </template>


                <v-list-item
                        v-for="subItem in item.items"
                        :key="subItem.title"
                        link

                >


                    <v-list-item-content>
                        <v-list-item-title>{{ subItem.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-group>



        </v-list>

    </v-navigation-drawer>
  </div>

</template>

<script>

    import SidebarItems from "./sidebar-items";

    export default {
        name: "dashboard-sidebar",
        props: {
            sidebar: {type: Boolean, default: null},
            drawer: {type:Boolean, default: false}
        },
        data() {
            return {

                rightbar: true,
                sidebarItems: SidebarItems,
                profileData: this.$store.getters.getCurrentUserProfile,
                email: this.$cookies.get('email'),
                avatar: this.$store.getters.getCurrentUserProfile.followers.avatar || "/img/nopicture.png",
                followers: this.$store.getters.getCurrentUserProfile.followers.length,
                following: this.$store.getters.getCurrentUserProfile.following.length,
                postNum: this.$store.getters.getCurrentUserProfile.posts.length,
                visibility: "available",
                visStatuses: [
                    {
                        text: "available",
                        value: "available"
                    },
                    {
                        text: "busy",
                        value: "busy"
                    },
                    {
                        text: "away",
                        value: "away"
                    },
                    {
                        text: "do not disturb",
                        value: "do not disturb"
                    },
                    {
                        text: "invisible",
                        value: "invisible"
                    }
                ],
                visBadgeColor: "success",
                left:false
            }
        },
        watch: {
           visibility: function(newVis) {
               if(newVis === "away") {
                   this.visBadgeColor = "orange";
               } else if(newVis === "busy") {
                   this.visBadgeColor = "yellow";
               } else if(newVis === "do not disturb") {
                   this.visBadgeColor = "red";
               } else if(newVis === "invisible") {
                   this.visBadgeColor = "grey";
               } else {
                   this.visBadgeColor = "success";
               }
           }
        }
    }

</script>

<style>
    .dashboard-name {
        font-size:18px !important;
        text-transform:capitalize;
        font-weight:700 !important;
    }
    .dashboard-company-info {
        font-size:14px !important;
        text-transform:capitalize;
    }

    .v-list-item--dense .v-list-item__title, .v-list--dense .v-list-item .v-list-item__title{
        font-size:16px !important;

    }
</style>