<template>

    <v-app-bar

            color="white"
            app>
        <v-app-bar-nav-icon></v-app-bar-nav-icon>

        <v-toolbar-title><h2>Swaggit</h2></v-toolbar-title>

        <v-spacer></v-spacer>
        <LocaleSwitcher></LocaleSwitcher>
    </v-app-bar>
</template>

<script>

    import LocaleSwitcher from "./LocaleSwitcher";

    export default {
        name: "header-default",

        components: {
            LocaleSwitcher
        }
    }

</script>