<template>
   <v-col cols="2" class="mt-6">
        <v-select v-bind:label="$t('messages.languages')" :items="langs" v-model="$i18n.locale"></v-select>
    </v-col>
</template>

<script>

    import {mapGetters, mapActions} from "vuex";

    export default {
        name: "locale-switcher",
        computed: {
            ...mapGetters({
                getLocale: 'getLocale'
            }),
            ...mapActions({
                setLocale: 'switchLocale'
            })
        },
        data() {
            return { langs: [{
                text: 'english',
                    value: 'en'
                }, {
                text: 'francais',
                    value: 'fr'
                }]}
        }
    }

</script>