<template>


      <component :is="layout">

      </component>


</template>

<script>

    const default_layout = "default";

    import {mapGetters} from "vuex";

export default {
  name: "App",

  computed: {
      ...mapGetters({
          isLoggedIn: 'getAuthStatus',
          showDemo: 'getShowDemo'
      }),
    layout() {
      return (this.$route.meta.layout || default_layout) + "-layout";
    }
  },

  data() {
      return {

      }
  },
    methods: {
      hideDemo() {
          this.$store.dispatch('disableDemoNotice');
      }
    }
};
</script>
