<template>

    <v-container fluid >

        <v-row>
            <v-col cols="3" class="hidden-md-and-down">

            </v-col>
            <v-col cols="12" xl="6" lg="6" >
                <PostBoxMain :username="username" />

            </v-col>

            <v-col cols="3" class="hidden-md-and-down"></v-col>
        </v-row>


    </v-container>


</template>

<script>

    import PostBoxMain from "../../../components/PostBox/Main";

    export default {
        name: "dashboardmain",
        data() {
            return {
                username: this.$store.getters.getCurrentUserProfile.display_name
            }
        },
        components:{
            PostBoxMain
        }
    }
</script>

<style scoped>

    .top-content-middle {

        min-width:300px;
        max-width:300px;
        width:100%;
        top:80px;
        left:25%;

    }

    </style>