<template>
    <v-app id="inspire">
        <v-navigation-drawer
                v-model="drawerRight"
                app
                clipped
                right
        >
            <v-list dense>
                <v-list-item @click.stop="right = !right">
                    <v-list-item-action>
                        <v-icon >fal fa-external-link-square</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>DETACH WINDOW</v-list-item-title>
                    </v-list-item-content>

                </v-list-item>
                <v-list-item two-line class="px-0">

                    <v-list-item-content class="pa-3">
                        <v-list-item-title>MY QUICK FILTERS</v-list-item-title>


                    </v-list-item-content>

                </v-list-item>
                <v-divider></v-divider>
                <v-list-item two-line class="px-0">

                    <v-list-item-content class="pa-3">
                        <v-list-item-title>MY PULLADS SETTINGS</v-list-item-title>


                    </v-list-item-content>

                </v-list-item>
                <v-divider></v-divider>
                <v-list-item two-line class="px-0">

                    <v-list-item-content class="pa-3">
                        <v-list-item-title>CURRENT TRENDS</v-list-item-title>


                    </v-list-item-content>

                </v-list-item>
                <v-divider></v-divider>
                <v-list-item two-line class="px-0">

                    <v-list-item-content class="pa-3">
                        <v-list-item-title>WHO'S ONLINE</v-list-item-title>


                    </v-list-item-content>

                </v-list-item>
                <v-divider></v-divider>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
                app
                clipped-right
                clipped-left
                color="dark-grey"
                dark
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer" ><img src="/img/icons/favicon-32x32.png" alt="swaggit" /></v-app-bar-nav-icon>
            <v-toolbar-title  style="width: 300px"
                              class="ml-0 pl-4"><h2 class="hidden-sm-and-down">SWAGGIT</h2></v-toolbar-title>
            <v-text-field
                    flat
                    solo-inverted
                    hide-details
                    prepend-inner-icon="mdi-magnify"
                    label="Search"
                    class="hidden-sm-and-down"
            />
            <v-spacer />
            <v-btn icon>
                <v-icon>fa-bell</v-icon>
            </v-btn>
            <v-badge content="3" color="red" offset-y="20" offset-x="20">
            <v-btn icon>
                <v-icon>far fa-bullseye-arrow</v-icon>
            </v-btn></v-badge>
            <v-btn
                    icon
                    large
            >
                <v-avatar
                        size="32px"
                        item
                >
                    <v-img
                            :src="avatar"
                            alt="settings"
                    /></v-avatar>
            </v-btn>
            <v-app-bar-nav-icon @click.stop="drawerRight = !drawerRight" />
        </v-app-bar>

        <v-navigation-drawer
                v-model="drawer"
                fixed
dark
                clipped

                app
        >
            <v-list dense>
                <v-list-item @click.stop="left = !left" class="px-0 text-center">
                    <v-row>
                        <v-col>
                            <v-list-item-avatar width="150" height="150">

                                <img id="avatarimg" :src="avatar" width="150" height="150" alt=""   @click="enableImageUpdate=true" />

                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-badge :color="visBadgeColor" content="online"  dot bottom offset-y="20" offset-x="20" > <v-list-item-title class="dashboard-name">{{profileData.first_name}} {{profileData.given_name}}, {{profileData.country}}</v-list-item-title></v-badge>
                                <v-list-item-subtitle>@{{profileData.display_name}}</v-list-item-subtitle>
                                <v-list-item-subtitle class="dashboard-company-info mb-2 mt-2"> {{profileData.title}}, {{profileData.company}}</v-list-item-subtitle>
                                <v-list-item-subtitle> {{profileData.bio}}</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-col>
                    </v-row>

                </v-list-item>
                <v-divider></v-divider>
                <v-list-item two-line class="px-0">

                    <v-list-item-content class="pa-3">
                        <v-list-item-title>Your Online Status</v-list-item-title>
                        <v-select v-model="visibility" :items="visStatuses"  outlined item-color="dark-grey"></v-select>

                    </v-list-item-content>

                </v-list-item>

                <v-divider></v-divider>

                <v-list-item two-line class="px-0" link>

                    <v-list-item-content class="pa-3">
                        <v-list-item-title>Newsfeed / Wall</v-list-item-title>


                    </v-list-item-content>

                </v-list-item>
                <v-divider></v-divider>
                <v-list-group class="top-level-left"

                              v-model="admenuactive" >


                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-list-item-title> Advertising / PullAds</v-list-item-title>
                        </v-list-item-content>
                    </template>


                    <v-list-item

                            link
                    >


                        <v-list-item-content>
                            <v-list-item-title>Create an ad</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item

                            link
                    >


                        <v-list-item-content>
                            <v-list-item-title>Setup my PullAd Client</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-group>



                <v-divider></v-divider>
                <v-list-item two-line class="px-0" link>

                    <v-list-item-content class="pa-3">
                        <v-list-item-title>Badges / Powerups</v-list-item-title>


                    </v-list-item-content>

                </v-list-item>
                <v-divider></v-divider>
                <v-list-item two-line class="px-0" link>

                    <v-list-item-content class="pa-3">
                        <v-list-item-title>Latest Followers</v-list-item-title>


                    </v-list-item-content>

                </v-list-item>
                <v-divider></v-divider>
                <v-list-item two-line class="px-0" link>

                    <v-list-item-content class="pa-3">
                        <v-list-item-title>Photos</v-list-item-title>


                    </v-list-item-content>

                </v-list-item>
                <v-divider></v-divider>
                <v-list-item two-line class="px-0" link>

                <v-list-item-content class="pa-3">
                    <v-list-item-title>Videos</v-list-item-title>


                </v-list-item-content>

            </v-list-item>
                <v-divider></v-divider>
                <v-list-item two-line class="px-0" link>

                    <v-list-item-content class="pa-3">
                        <v-list-item-title>Pages / Groups</v-list-item-title>


                    </v-list-item-content>

                </v-list-item>
                <v-divider></v-divider>
                <v-list-item two-line class="px-0" link>

                    <v-list-item-content class="pa-3">
                        <v-list-item-title>Inbox</v-list-item-title>


                    </v-list-item-content>

                </v-list-item>
                <v-divider></v-divider>
                <v-list-item two-line class="px-0" link>

                    <v-list-item-content class="pa-3">
                        <v-list-item-title>Notifications</v-list-item-title>


                    </v-list-item-content>

                </v-list-item>
                <v-divider></v-divider>
            </v-list>
        </v-navigation-drawer>



        <v-content>
            <v-container

                    fluid
            >
                <router-view id="routetarget" ></router-view>
            </v-container>
        </v-content>

        <v-dialog v-model="enableImageUpdate" max-width="300" min-width="300" >



            <Uploader
                    crop-aspect-ratio="1"
                    :multiple="false"
                    :instant="false"
                    field-name="avatarImg"

            />

        </v-dialog>>

    </v-app>
</template>

<script>



   import Uploader from "../../components/Images/Uploader";

    export default {
        props: {
            source: String,
        },
        data() {
            return {
                admenuactive: true,
                result: null,
                enableImageUpdate:false,
                drawer: null,
                drawerRight: null,
                right: false,
                left: true,
                profileData: this.$store.getters.getCurrentUserProfile,
                email: this.$cookies.get('email'),
                avatar: this.$store.getters.getCurrentUserProfile.followers.avatar || "/img/nopicture.png",
                followers: this.$store.getters.getCurrentUserProfile.followers.length,
                following: this.$store.getters.getCurrentUserProfile.following.length,
                postNum: this.$store.getters.getCurrentUserProfile.posts.length,
                visibility: "available",
                visStatuses: [
                    {
                        text: "available",
                        value: "available"
                    },
                    {
                        text: "busy",
                        value: "busy"
                    },
                    {
                        text: "away",
                        value: "away"
                    },
                    {
                        text: "do not disturb",
                        value: "do not disturb"
                    },
                    {
                        text: "invisible",
                        value: "invisible"
                    }
                ],
                visBadgeColor: "success",
            }
        },

        watch: {
            visibility: function(newVis) {
                if(newVis === "away") {
                    this.visBadgeColor = "orange";
                } else if(newVis === "busy") {
                    this.visBadgeColor = "yellow";
                } else if(newVis === "do not disturb") {
                    this.visBadgeColor = "red";
                } else if(newVis === "invisible") {
                    this.visBadgeColor = "grey";
                } else {
                    this.visBadgeColor = "success";
                }
            }
        },
        components: { Uploader }
    }
</script>