<template>
<v-app id="indigo" dark>
            <v-container class="fill-height" fluid>
<HeaderDefault />

                <v-content>

                <v-row>
                    <router-view></router-view>
                </v-row>
                </v-content>
            </v-container></v-app>

</template>

<script>


import HeaderDefault from "../../components/Common/HeaderDefault";

    export default {
        name: "Default",
        components: {
            HeaderDefault
        }
    };
</script>
