<template>


        <v-col cols="12" >

            <v-card  elevation="0" width="100%" >
                <v-card-title>
                    <h2>Login</h2>
                </v-card-title>
                <v-card-text>     <v-form ref="loginform" v-model="validform" lazy-validation >

                    <v-row>
                        <v-col>
                            <v-text-field label="your email address" v-model="email" :rules="emailRules" ></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col>
                            <v-text-field label="your password" v-model="password" type="password" :rules="passwordRules"></v-text-field>
                        </v-col>

                    </v-row>

                </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-row>
                        <v-col class="text-right">
                            <v-btn color="primary" @click="doLogin()">Login</v-btn>

                        </v-col>
                    </v-row>
                </v-card-actions>
            </v-card>

        </v-col>





</template>

<script>
    export default {
        name: "login",
        data() {
            return {
                email: "",
                password: "",
                sms_number: "",
                confirm_password: "",
                show_sms_field: false,
                show_validation_popup: false,
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+/.test(v) || 'E-mail must be valid'
                ],
                passwordRules: [
                    v => !!v || 'Password is required'
                ],
                validform:false
            }
        },
        methods: {
            validate () {
                if (this.$refs.loginform.validate()) {

                        return true;

                }
            },
            doLogin () {

                this.$store.dispatch('login', {email:this.email, password: this.password});

            }
        }
    }
</script>