<template>


            <v-col cols="12" >

                <v-card  width="100%" elevation="0">
                    <v-card-title>
                        <h2>{{ $t('messages.homepage.create_account_title')}}</h2>
                    </v-card-title>
                    <v-card-text>

                        <v-form ref="invitationcode"  v-show="!showForm">
                            <v-row>
                                <v-col >
                                    <p>
                                        {{ $t('messages.homepage.invitation_code_text') }} <a href="https://www.swaggit.net/join" target="_blank">{{ $t('messages.homepage.public_invitation_link') }}</a>.
                                    </p>
                                </v-col>
                            </v-row>   <v-row>
                            <v-col>
                                <v-text-field v-bind:label="$t('messages.homepage.invitation_input_label')" v-model="invitationCode" ></v-text-field>    <span class="error--text" v-show="invalidCode">{{error}}</span>                        </v-col>
                        </v-row>
                        </v-form>

                        <v-form ref="registrationform" v-model="validrform" lazy-validation v-show="showForm">
                        <v-row>
                            <v-col v-show="show_email">
                                <v-switch label="wanna use your mobile phone number for validation?" v-model="show_sms_field" ></v-switch>
                            </v-col>
                        </v-row>
                        <v-row v-show="show_email">
                            <v-col>
                                <v-text-field label="your email address" v-model="email" :rules="emailRules" @keyup="checkIfEmailTaken()"></v-text-field>
                                <span v-show="emailExists">email already exists please pick another one.</span>
                            </v-col>
                        </v-row>
                        <v-row v-show="show_sms_field">
                            <v-col cols="3">
                                <v-text-field label="country code" v-model="country_code" ></v-text-field>
                            </v-col>
                            <v-col cols="9">
                                <v-text-field label="your phone number" v-model="sms_number" type="number"></v-text-field>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col>
                                <v-text-field label="your secure password" v-model="password" type="password" :rules="passwordRules"></v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field label="please confirm your password" v-model="confirm_password" type="password" :rules="passConfirmRules" ></v-text-field>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col>
                                <v-checkbox label="I confirm I am over 18 years old " v-model="adult"  ></v-checkbox>
                                <v-checkbox label="I have read and agreed to the terms of use of Swaggit" v-model="agree" @click="validate()" ></v-checkbox>
                            </v-col>

                        </v-row>

                    </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-row>
                            <v-col class="text-right">
                                <v-btn color="primary" :disabled="!enable_submit" v-show="showForm" @click="createNewAccount()">create my account</v-btn>
                                <v-btn color="primary" v-show="!showForm" @click="verifyInvitationCode()">{{$t('messages.homepage.invitation_button_next')}} ></v-btn>
                            </v-col>
                        </v-row>
                    </v-card-actions>
                </v-card>

            </v-col>





</template>

<script>


    export default {
        name: "registration",
        data() {
            return {
                error: null,
                emailExists: false,
                email: "",
                password: "",
                sms_number: "",
                country_code: "+1",
                confirm_password: "",
                show_sms_field: false,
                show_email: true,
                show_validation_popup: false,
                enable_submit: false,
                adult: false,
                agree: false,
                invitationCode: "",
                showForm:false,
                validrform:true,
                invalidCode: false,
                inviteInputLabel:`${this.$t('invitation_input_label')}`,


                     emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid'
            ],
                passwordRules: [
                v => !!v || 'Password is required'
            ],
                passConfirmRules: [
                v => (!!v && v) === this.password || 'Need to match your password!'
            ]

            }
        },
        methods: {
            validate () {
                if (this.$refs.registrationform.validate()) {
                    this.enable_submit = true;
                }
            },
            checkIfEmailTaken() {


                this.$axios.post("http://localhost:3333/api/v1/checkemail", {email: this.email}).then(response => {

                    this.emailExists = response.data === "exists";

                }).catch(error => {
                    this.error = error;

                })

            },
            verifyInvitationCode() {

                this.$axios.post("http://localhost:3333/api/v1/validateInvitationCode", {code: this.invitationCode, codeType: "PRIVATE"}).then(response => {
                    if(response.status === 200 && response.data.valid) {

                        this.email = response.data.email;
                        this.showForm = true;

                    } else {

                        this.email = "";
                        this.showForm = false;
                        this.error = "code is invalid";
                        this.$store.dispatch('setNewError', this.error);

                        this.invalidCode = true;

                    }
                }).catch(() => {

                    this.error = "code is invalid";
                    this.$store.dispatch('setNewError', this.error);
                    this.invalidCode = true;
                });

            },
            createNewAccount() {

                this.$store.dispatch('registerNewUser', {
                    email: this.email,
                    password: this.password
                });

            }
        }
    }
</script>