<template>

    <v-select label="Country you live in" :items="countries" v-model="selectedCountry"></v-select>

</template>

<script>

    import countries from "./countries.json";

    export default {
        name: "select-country",
        data() {
            return {
                countries: countries,
                selectedCountry: ""
            }
        }
    }

</script>